[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.6.5"

[dev-packages]

[packages]
tornado = "*"
"jinja2" = "*"
queries = "*"
requests = "*"
"psycopg2" = "*"
arrow = "*"
