<!doctype html>
<html lang="en">
 
  <head>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<title>
  		{% block title %} {% endblock %}
  	</title>
      {% block meta %} {% endblock %}
  	<link rel="icon" href="/static/images/favicon.ico">
  	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
  {% block content %} {% endblock %}
  <footer id="footer">
    <div class="row align-items-center text-center">
    <div class="col-sm-4"><a href="https://www.digitalcrafts.com/"><img id="dc_logo" src="/static/images/digitalcrafts-site-logo.png"></a></div>
    <div class="col-sm-4"><a href="/"><img id="app_logo" src="/static/images/logo.png"></a></div>
    <div class="col-sm-4">
      <a href="https://github.com/lloydXmas"><img class="avatar" src="/static/images/13147574.jpg"></a>
      <a href="https://github.com/ziqingW"><img class="avatar" src="/static/images/36017425.jpg"></a>
      <a href="https://github.com/Zengeol"><img class="avatar" src="/static/images/26679624.jpg"></a>
    </div>
    </div>
  </footer>
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
  {% block dependencies %} {% endblock %}
  </body>

</html>
