{% extends "base.html" %} 
{% block title %}{{ slug|capitalize }}{% endblock %} 
{% block meta %}
<meta id="detail-data" data-temp="{{ temps }}" data-humi="{{ humis }}" data-total="{{ details }}" data-slug="{{ slug }}" data-date="{{ date }}"> 
{% endblock %}
{% block content %}
<div id="detail-content">
	<div class="detail-figure">
		<div class="container detail-info">
			<h6>{{ slug|capitalize }}</h6>
			<h6>{{ date }}</h6>
		</div>
		<div id="{{ slug + '_detail' }}" style="min-width: 310px; max-width: 650px; height: 360px; margin: 0 auto"></div>
	</div>
	<a class="button-control" id="previous" href="/detail/{{ slug }}/{{ yesterday }}"><h6>Previous Day</h6><i class="fas fa-chevron-left"></i></a>
  	<a class="button-control" id="next" href="/detail/{{ slug }}/{{ tomorrow }}"><h6>Next Day</h6><i class="fas fa-chevron-right"></i></a>
</div>

{% endblock %}  
{% block dependencies %}
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highchart_modules/exporting.js"></script>
<script src="/static/js/highchart_modules/export-data.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/detail_charts.js"></script>
{% endblock %}