{% extends "base.html" %}
{% block title %}Details{% endblock %}

{% block content %}
<div class="container text-center">
	<div class=" detail-footer logo-panel">
		<img alt="logo" src="http://via.placeholder.com/30x30">
		<h6>Home Climate</h6>
	</div>
	<hr>
	<div>
		<div>
			<p>room1</p>
			<p>date</p>
		</div>
		<div>
			<img alt="house blueprint temp" src="http://via.placeholder.com/350x350">
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
<footer class="container text-center footer" id="footer">
	footer
</footer>
{% endblock %}

{% block dependencies %}
<script src="static/js/main_charts.js"></script>
{% endblock %}
