{% extends "base.html" %}
{% block title %}Home Monitor{% endblock %}
{% block meta %}
<meta id="my-data" data-last="{{ response }}">
{% endblock %}
{% block content %}
<div class="row mt-2">
  <div class="col-sm-12">
    <div class="mx-auto">
      <img alt="logo" src="/static/images/logo.png" width="80" height="80">
      <h4>Home Climate Monitor</h4>
      <hr />
      <p id="current_time"><br />
      <p>Houston: {{ local_weather }}°F</p>
    </div>
  </div>
</div>  <!-- End Row -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
          <div class="upper-panel">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="floorplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 313.6 333" enable-background="new 0 0 313.6 333" xml:space="preserve">
						    <a xlink:href="/detail/bedroom/{{ current_date }}"><rect id="field1" x="1.5" y="1.5" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="156" height="106.4"/></a>
						    <a xlink:href="/detail/office/{{ current_date }}"><rect id="field7" x="157.5" y="1.5" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="154.6" height="106.4"/></a>
						    <a xlink:href="/detail/livingroom/{{ current_date }}"><rect id="field3" x="1.5" y="107.9" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="212.8" height="154.6"/></a>
						    <a xlink:href="/detail/kitchen/{{ current_date }}"><rect id="field5" x="214.3" y="107.9" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="97.8" height="111.4"/></a>
						    <rect x="214.3" y="219.3" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="97.8" height="112.2"/>
						    <text transform="matrix(1 0 0 1 38.968 60.8677)" font-family="'ArialMT', Oswald, sans-serif" font-size="21.0047px">Bedroom</text>
						    <text transform="matrix(1 0 0 1 57.726 191.3578)" font-family="'ArialMT', Oswald, sans-serif" font-size="21.0047px">Livingroom</text>
						    <text transform="matrix(1 0 0 1 208.9339 60.8677)" font-family="'ArialMT', Oswald, sans-serif" font-size="21.0047px">Office</text>
						    <text transform="matrix(1 0 0 1 229.9073 169.7892)" font-family="'ArialMT', Oswald, sans-serif" font-size="21.0047px">Kitchen</text>
								</svg>
            <div>
              <ul class="legends">
                <li>
                  <div class="blocktest highest"></div>Highest</li>
                <li>
                  <div class="blocktest middle"></div>
                </li>
                <li>
                  <div class="blocktest lowest"></div>Lowest</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div id="temp_bar_figure" class="float-left" style="height: 250px; margin: 0 auto"></div>
        </div>
      </div> <!-- End Row -->
			<div class="row">
        <div class="col-12" style="height:3rem;">
				</div>
			</div>
      <div class="row mt-6">
        <div class="col-12">
          <div id="temp_line_chart" style="width:80%; height:450px; margin: 0 auto"></div>
        </div>
      </div> <!-- End Row -->
    </div>
    <div class="carousel-item">
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
          <div class="upper-panel">
            <svg version="1.1" id="floorplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 313.6 333" enable-background="new 0 0 313.6 333" xml:space="preserve">
						    <a xlink:href="/detail/bedroom/{{ current_date }}"><rect id="field2" x="1.5" y="1.5" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="156" height="106.4"/></a>
						    <a xlink:href="/detail/office/{{ current_date }}"><rect id="field8" x="157.5" y="1.5" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="154.6" height="106.4"/></a>
						    <a xlink:href="/detail/livingroom/{{ current_date }}"><rect id="field4" x="1.5" y="107.9" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="212.8" height="154.6"/></a>
						    <a xlink:href="/detail/kitchen/{{ current_date }}"><rect id="field6" x="214.3" y="107.9" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="97.8" height="111.4"/></a>
						    <rect x="214.3" y="219.3" fill="none" stroke="#000000" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10" width="97.8" height="112.2"/>
						    <text transform="matrix(1 0 0 1 38.968 60.8677)" font-family="'ArialMT', Oswald, sans-serif" font-size="21.0047px">Bedroom</text>
						    <text transform="matrix(1 0 0 1 57.726 191.3578)" font-family="'ArialMT', Oswald, sans-serif" font-size="21.0047px">Livingroom</text>
						    <text transform="matrix(1 0 0 1 208.9339 60.8677)" font-family="'ArialMT', Oswald, sans-serif" font-size="21.0047px">Office</text>
						    <text transform="matrix(1 0 0 1 229.9073 169.7892)" font-family="'ArialMT', Oswald, sans-serif" font-size="21.0047px">Kitchen</text>
								</svg>

              <ul class="legends">
                <li>
                  <div class="blocktest highest"></div>Highest</li>
                <li>
                  <div class="blocktest middle"></div>
                </li>
                <li>
                  <div class="blocktest lowest"></div>Lowest</li>
              </ul>

          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div id="humidity_bar_figure" class="float-left" style="height: 350px; margin: 0 auto"></div>
        </div>
      </div> <!-- End Row -->
			<div class="row">
        <div class="col-12" style="height:3rem;">
				</div>
			</div>
      <div class="row mt-6">
        <div class="col-12">
          <div id="humidity_line_chart" style="width:80%; height:450px; margin: 0 auto"></div>
        </div>
      </div> <!-- End Row -->
    </div>
  </div>
	<a class="carousel-control-prev" role="button" href="#myCarousel" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
	<a class="carousel-control-next" role="button" href="#myCarousel" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
</div>
<div class="push"></div>

{% endblock %}
{% block dependencies %}
<script src="/static/js/highstock.js"></script>
<script src="/static/js/highchart_modules/exporting.js"></script>
<script src="/static/js/highchart_modules/export-data.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/main_charts.js"></script>
<script src="/static/js/line_chart.js"></script>
{% endblock %}
