html, body {
    height: 100%;    
}

body {
  display: flex;
  flex-direction: column;
}

.contents {
    flex: 1 0 auto;
}

.logo-panel {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    align-items: center;
}

.logo-panel h3 {
    margin-left: 0.6em;
}

svg rect:hover {
    cursor: pointer;
}

/* footer styles*/
.push {
    margin-bottom: 80px;
}

#footer {
    background: linear-gradient(141deg, #6dbaf2 0%, #9ed2d8 51%, #064f6b 75%);
    min-height: 70px;
    padding: 10px;
    color: white;
    flex-shrink: 0;
    opacity: 0.95;
}

#dc_logo {
    width: 38%;
}

#app_logo {
    width: 25%;    
}

.avatar {
    width: 14%;
    border-radius: 50%;
    margin-right: 1em;
}

.avatar:hover {
    width: 20%;
    border: 5px solid #f75718;    
}

#temp {
    background-color: #3d76d3;
    border-color: #3d76d3;
}

#humidity {
    background-color: #79dd5a;
    border-color: #79dd5a;
}

#pressure {
    background-color: #edef4f;
    border-color: #edef4f;
}

.carousel-indicators {
    bottom: -30px;
}

.carousel-indicators li {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    height: 15px;
    width: 30px;
}

#info-panel {
    margin-top: -20px;
}

#myCarousel {
    margin-top: -20px;
}

.upper-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocktest {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 0.3em;
}

.legends {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

.legends li {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 0.1em;
}

.highest {
    background-color: #ff7800;
}

.middle {
    background-color: #8aff00;
}

.lowest {
    background-color: #00d4ff;
}
/*** Detail Page ***/

.detail-logo {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    align-items: flex-end;
}

.detail-logo h5 {
  margin-left: 0.6em;
}

.detail-info {
    display: flex;
    justify-content: space-between;
}

.detail-figure {
    margin-top: 2.5em;
}

.detail-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.detail-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    background-color: #333;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

.detail-nav ul li {
    border-right: 1px solid #bbb;
}

.detail-nav ul li:last-child {
    border-right: none;
}

.detail-nav ul li a{
    color: white;
    text-align: left;
    padding: 1em;
    box-sizing: border-box;
    text-decoration: none;
}

.detail-nav ul li a:hover {
    color : #4CAF50;
}

/* detail control button styles*/

#detail-content {
    position: relative;    
}

.button-control {
    position: absolute;
    top: 43%;
}

.button-control h6 {
    color: #333;
}

.button-control:hover {
    text-decoration: none;    
}

.button-control img {
    width: 60%;
    opacity: 0.7;
}

.button-control img:hover {
    cursor: pointer;
}

#previous {
    left: 12%;
}

#next {
    right: 12%;
}